<form id="form" action="/user/userLoginTest" method="post">
    <div>
        <input type="text" name="account" id="account" placeholder="账号">
        <input type="text" name="pwd" id="pwd" placeholder="密码">
    </div>
    <div>
        <ul>
            <li>
                <label>
                    <input type="checkbox" name="checkbox" value="1" checked="checked" />
                    <span></span>
                </label>
                记住密码
            </li>
            <li>
                <label>
                    <input type="checkbox" name="checkbox" value="2" />
                    <span></span>
                </label>
                自动登录
            </li>
        </ul>
    </div>
    <input type="submit" value="登录" />
</form>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    function login() {
        $("#form").submit();
    }

    //加载页面后加载次函数
    $().ready(function() {// 记住密码功能
        var str = decodeURIComponent(document.cookie.split(';')); // 获取Cookie
        // 以下是Cookie数据处理逻辑
        // 不同的项目存储的Cookie不同，处理数据的逻辑不同
        // 要根据具体的Cookie值来截取账号、密码
        if (str.indexOf("loginInfo")>-1) {
            var arr = str.split(",");
            var loginInfo = arr[2];
            var arr = loginInfo.split("+");
            var name = arr[0];
            name = name.substring(name.lastIndexOf("=", name.length - 1) + 1);
            var phone = arr[1];

            //自动填充用户名和密码
            $("#account").val(name);
            $("#pwd").val(phone);
        }
    });
</script>