<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bdscams.amstest.mapper.Change_phoneMapper" >
  <resultMap id="BaseResultMap" type="com.bdscams.amstest.entity.Change_phone" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="apply_user" property="applyUser" jdbcType="INTEGER" />
    <result column="allow_user" property="allowUser" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="is_allow" property="isAllow" jdbcType="INTEGER" />
    <result column="is_approve" property="isApprove" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, apply_user, allow_user, phone, is_allow, is_approve, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from amis_change_phone
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from amis_change_phone
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bdscams.amstest.entity.Change_phone" >
    insert into amis_change_phone (id, apply_user, allow_user, 
      phone, is_allow, is_approve, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{applyUser,jdbcType=INTEGER}, #{allowUser,jdbcType=INTEGER}, 
      #{phone,jdbcType=VARCHAR}, #{isAllow,jdbcType=INTEGER}, #{isApprove,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bdscams.amstest.entity.Change_phone" >
    insert into amis_change_phone
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="applyUser != null" >
        apply_user,
      </if>
      <if test="allowUser != null" >
        allow_user,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="isAllow != null" >
        is_allow,
      </if>
      <if test="isApprove != null" >
        is_approve,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="applyUser != null" >
        #{applyUser,jdbcType=INTEGER},
      </if>
      <if test="allowUser != null" >
        #{allowUser,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="isAllow != null" >
        #{isAllow,jdbcType=INTEGER},
      </if>
      <if test="isApprove != null" >
        #{isApprove,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bdscams.amstest.entity.Change_phone" >
    update amis_change_phone
    <set >
      <if test="applyUser != null" >
        apply_user = #{applyUser,jdbcType=INTEGER},
      </if>
      <if test="allowUser != null" >
        allow_user = #{allowUser,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="isAllow != null" >
        is_allow = #{isAllow,jdbcType=INTEGER},
      </if>
      <if test="isApprove != null" >
        is_approve = #{isApprove,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bdscams.amstest.entity.Change_phone" >
    update amis_change_phone
    set apply_user = #{applyUser,jdbcType=INTEGER},
      allow_user = #{allowUser,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      is_allow = #{isAllow,jdbcType=INTEGER},
      is_approve = #{isApprove,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>