<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bdscams.amstest.mapper.ChatMapper" >
  <resultMap id="BaseResultMap" type="com.bdscams.amstest.entity.Chat" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="usernameID" property="usernameid" jdbcType="VARCHAR" />
    <result column="friendnameID" property="friendnameid" jdbcType="VARCHAR" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, usernameID, friendnameID, message, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from amis_chat
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from amis_chat
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bdscams.amstest.entity.Chat" >
    insert into amis_chat (id, usernameID, friendnameID, 
      message, create_time)
    values (#{id,jdbcType=INTEGER}, #{usernameid,jdbcType=VARCHAR}, #{friendnameid,jdbcType=VARCHAR}, 
      #{message,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bdscams.amstest.entity.Chat" >
    insert into amis_chat
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="usernameid != null" >
        usernameID,
      </if>
      <if test="friendnameid != null" >
        friendnameID,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="usernameid != null" >
        #{usernameid,jdbcType=VARCHAR},
      </if>
      <if test="friendnameid != null" >
        #{friendnameid,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bdscams.amstest.entity.Chat" >
    update amis_chat
    <set >
      <if test="usernameid != null" >
        usernameID = #{usernameid,jdbcType=VARCHAR},
      </if>
      <if test="friendnameid != null" >
        friendnameID = #{friendnameid,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bdscams.amstest.entity.Chat" >
    update amis_chat
    set usernameID = #{usernameid,jdbcType=VARCHAR},
      friendnameID = #{friendnameid,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>