<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bdscams.amstest.mapper.Role_rgt_menu_relMapper" >
  <resultMap id="BaseResultMap" type="com.bdscams.amstest.entity.Role_rgt_menu_rel" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="ROLE_ID" property="roleId" jdbcType="BIGINT" />
    <result column="MENU_RGT_ID" property="menuRgtId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ROLE_ID, MENU_RGT_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from amis_role_rgt_menu_rel
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from amis_role_rgt_menu_rel
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bdscams.amstest.entity.Role_rgt_menu_rel" >
    insert into amis_role_rgt_menu_rel (ID, ROLE_ID, MENU_RGT_ID
      )
    values (#{id,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, #{menuRgtId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bdscams.amstest.entity.Role_rgt_menu_rel" >
    insert into amis_role_rgt_menu_rel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="menuRgtId != null" >
        MENU_RGT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="menuRgtId != null" >
        #{menuRgtId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bdscams.amstest.entity.Role_rgt_menu_rel" >
    update amis_role_rgt_menu_rel
    <set >
      <if test="roleId != null" >
        ROLE_ID = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="menuRgtId != null" >
        MENU_RGT_ID = #{menuRgtId,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bdscams.amstest.entity.Role_rgt_menu_rel" >
    update amis_role_rgt_menu_rel
    set ROLE_ID = #{roleId,jdbcType=BIGINT},
      MENU_RGT_ID = #{menuRgtId,jdbcType=BIGINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>